PORT=3000
CALENDAR_ID=votre_calendar_id@group.calendar.google.com
GOOGLE_CLIENT_EMAIL=service-account@project-id.iam.gserviceaccount.com
GOOGLE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nVOTRE_CLE_PRIVEE\n-----END PRIVATE KEY-----\n"
SMTP_HOST=smtp.votredomaine.dz
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=contact@elegance-esthetique.dz
SMTP_PASS=votre_mot_de_passe
CABINET_EMAIL=contact@elegance-esthetique.dz
BASE_URL=http://localhost:3000
